body{
    margin:0;
    font-family: Arial;
    background:#021755;
    color:white;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

h2{
    text-align:center;
    margin-bottom:5px;
}

.subtitle{
    text-align:center;
    color:hwb(0 93% 5%);
    margin-bottom:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
    gap:15px;
}

.field label{
    font-size:14px;
}

.field input, .field select{
    width:100%;
    padding:8px;
    border:none;
    border-radius:5px;
    margin-top:4px;
}

button{
    margin-top:20px;
    width:100%;
    padding:12px;
    background:#022b6b;
    color:white;
    border:none;
    border-radius:6px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#022b72;
}

.result-box{
    margin-top:25px;
    background:#6ebbd4;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.chart-card{
    margin-top:25px;
    background:#4e8fa8;
    padding:20px;
    border-radius:10px;
}
